docs/DWF Toolkit/Specification/dwfSpec/schemas/ePlot.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "DWF-ePlot:1.1"
	 targetNamespace = "DWF-ePlot:1.1"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:attribute name = "href" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>
            Documentation of this attribute can be found on
            'http://www.w3.org/TR/xlink'.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name = "role" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>
            Documentation of this attribute can be found on
            'http://www.w3.org/TR/xlink'.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name = "mime" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>
            String indicating MIME type/subtype, as described at
            'ftp://www.ietf.org/rfc/rfc2045.txt'.  
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name = "uniqueId">
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9,A-F,a-f]{8}-[0-9,A-F,a-f]{4}-[0-9,A-F,a-f]{4}-[0-9,A-F,a-f]{4}-[0-9,A-F,a-f]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "SimplePropertyType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "string"/>
			<xsd:enumeration value = "boolean"/>
			<xsd:enumeration value = "uriReference"/>
			<xsd:enumeration value = "timeDuration"/>
			<xsd:enumeration value = "timeInstant"/>
			<xsd:enumeration value = "date"/>
			<xsd:enumeration value = "month"/>
			<xsd:enumeration value = "year"/>
			<xsd:enumeration value = "century"/>
			<xsd:enumeration value = "recurringDate"/>
			<xsd:enumeration value = "recurringDay"/>
			<xsd:enumeration value = "float"/>
			<xsd:enumeration value = "double"/>
			<xsd:enumeration value = "long"/>
			<xsd:enumeration value = "int"/>
			<xsd:enumeration value = "short"/>
			<xsd:enumeration value = "byte"/>
			<xsd:enumeration value = "unsignedLong"/>
			<xsd:enumeration value = "unsginedInt"/>
			<xsd:enumeration value = "unsignedShort"/>
			<xsd:enumeration value = "unsignedByte"/>
			<xsd:enumeration value = "stringList"/>
			<xsd:enumeration value = "doubleList"/>
			<xsd:enumeration value = "longList"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "rgbColor">
		<xsd:list>
			<xsd:simpleType>
				<xsd:restriction base = "xsd:long">
					<xsd:length value = "3" fixed = "true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:list>
	</xsd:simpleType>
	<xsd:simpleType name = "rectangle">
		<xsd:list>
			<xsd:simpleType>
				<xsd:restriction base = "xsd:double">
					<xsd:length value = "4" fixed = "true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:list>
	</xsd:simpleType>
	<xsd:simpleType name = "transform4x4">
		<xsd:list>
			<xsd:simpleType>
				<xsd:restriction base = "xsd:double">
					<xsd:length value = "16" fixed = "true"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:list>
	</xsd:simpleType>
	<xsd:complexType name = "AllPropertyContent">
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "category" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "SimplePropertyContent">
		<xsd:complexContent>
			<xsd:extension base = "AllPropertyContent">
				<xsd:attribute name = "type" default = "string" type = "SimplePropertyType"/>
				<xsd:attribute name = "units" type = "xsd:string"/>
				<xsd:attribute name = "value" use = "required" type = "xsd:string"/>
				<xsd:attribute name = "id" type = "xsd:string"/>
				<xsd:attribute name = "override" type = "xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "AnyProperty" type = "AllPropertyContent" abstract = "true"/>
	<xsd:element name = "Property" type = "SimplePropertyContent" substitutionGroup = "AnyProperty">
		<xsd:annotation>
			<xsd:documentation>
            A 'Property' is intended to be a name+value pair, with optional units.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Properties">
		<xsd:annotation>
			<xsd:documentation>
            The 'Properties' element represents a collection of, well, properties.
            Although the schema calls for 'Property' elements, conforming documents
            will have to use the concrete element type 'SimpleProperty'.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AnyProperty" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "id" type = "xsd:string"/>
			<xsd:attribute name = "refs" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Page">
		<xsd:annotation>
			<xsd:documentation>
				A Page is the fundamental data bundle of the 2D publishing world.  Herein is contained all of the page resources.
				The properties block is used to store user-definable properties
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Properties" minOccurs = "0"/>
				<xsd:element ref = "Paper"/>
				<xsd:element ref = "Resources" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "plotOrder" default = "1" type = "xsd:double"/>
			<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "version" type = "xsd:string"/>
			<xsd:attribute name = "objectId" type = "uniqueId"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Paper">
		<xsd:complexType>
			<xsd:attribute name = "show" default = "true" type = "xsd:boolean"/>
			<xsd:attribute name = "units" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "width" use = "required" type = "xsd:double"/>
			<xsd:attribute name = "height" use = "required" type = "xsd:double"/>
			<xsd:attribute name = "clip" type = "rectangle"/>
			<xsd:attribute name = "color" default = "255 255 255" type = "rgbColor"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Resources">
		<xsd:annotation>
			<xsd:documentation>
				Collection of Resource elements (must have at least one).
			
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs = "unbounded">
				<xsd:element ref = "Resource"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "ResourceContent">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a resource, relative to the primary 2D page resource.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref = "role" use = "required"/>
		<xsd:attribute ref = "mime" use = "required"/>
		<xsd:attribute ref = "href" use = "required"/>
		<xsd:attribute name = "title" type = "xsd:string"/>
		<xsd:attribute name = "objectId" type = "uniqueId"/>
		<xsd:attribute name = "size" type = "xsd:integer"/>
		<xsd:attribute name = "parentObjectId" type = "uniqueId"/>
	</xsd:complexType>
	<xsd:element name = "Resource">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ResourceContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FontResource" substitutionGroup = "Resource">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a font resource, used by a 2D stream resource.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ResourceContent">
					<xsd:attribute name = "request" use = "required" type = "xsd:integer"/>
					<xsd:attribute name = "privilege" use = "required">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:string">
								<xsd:enumeration value = "previewPrint"/>
								<xsd:enumeration value = "editable"/>
								<xsd:enumeration value = "installable"/>
								<xsd:enumeration value = "noEmbedding"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name = "characterCode" use = "required">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:string">
								<xsd:enumeration value = "unicode"/>
								<xsd:enumeration value = "symbol"/>
								<xsd:enumeration value = "glyphIdx"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name = "canonicalName" use = "required" type = "xsd:string"/>
					<xsd:attribute name = "logfontName" use = "required" type = "xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ImageResource" substitutionGroup = "Resource">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for an image resource, relative to the primary 2D page resource.
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "GraphicResourceContent">
					<xsd:attribute name = "invertColors" default = "false" type = "xsd:boolean"/>
					<xsd:attribute name = "scanned" default = "false" type = "xsd:boolean"/>
					<xsd:attribute name = "originalExtents" type = "rectangle"/>
					<xsd:attribute name = "colorDepth" type = "xsd:integer"/>
					<xsd:attribute name = "scannedResolution" type = "xsd:integer"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "GraphicResourceContent">
		<xsd:complexContent>
			<xsd:extension base = "ResourceContent">
				<xsd:attribute name = "transform" use = "required" type = "transform4x4"/>
				<xsd:attribute name = "extents" type = "rectangle"/>
				<xsd:attribute name = "clip" type = "rectangle"/>
				<xsd:attribute name = "author" type = "xsd:string"/>
				<xsd:attribute name = "description" type = "xsd:string"/>
				<xsd:attribute name = "creationTime" type = "xsd:dateTime"/>
				<xsd:attribute name = "modificationTime" type = "xsd:dateTime"/>
				<xsd:attribute name = "orientation" default = "alwaysInSync">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "alwaysInSync"/>
							<xsd:enumeration value = "alwaysDifferent"/>
							<xsd:enumeration value = "decoupled"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name = "effectiveResolution" type = "xsd:integer"/>
				<xsd:attribute name = "zOrder" type = "xsd:integer"/>
				<xsd:attribute name = "show" default = "true" type = "xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "GraphicResource" substitutionGroup = "Resource">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "GraphicResourceContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Global">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Properties" minOccurs = "0"/>
				<xsd:element ref = "Bookmark" minOccurs = "0"/>
				<xsd:element ref = "Resources" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Bookmark">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Bookmark" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
			<xsd:attribute ref = "href"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Object">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Properties" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "id" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "children" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Instances">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Instance" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Instance">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Properties" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "id" type = "xsd:string"/>
			<xsd:attribute name = "object" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "nodes" type = "xsd:string"/>
			<xsd:attribute name = "children" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Objects">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Object" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "ObjectDefinitionContent">
		<xsd:sequence>
			<xsd:element ref = "Properties" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "Objects" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "GlobalObjectDefinition">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ObjectDefinitionContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PageObjectDefinition">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ObjectDefinitionContent">
					<xsd:sequence>
						<xsd:element ref = "Instances" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>