docs/DWF Toolkit/Specification/dwfSpec/schemas/Optimizer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "DWF-Optimizer:1.0"
	 targetNamespace = "DWF-Optimizer:1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:simpleType name = "SimplePropertyType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "string"/>
			<xsd:enumeration value = "boolean"/>
			<xsd:enumeration value = "uriReference"/>
			<xsd:enumeration value = "timeDuration"/>
			<xsd:enumeration value = "timeInstant"/>
			<xsd:enumeration value = "date"/>
			<xsd:enumeration value = "month"/>
			<xsd:enumeration value = "year"/>
			<xsd:enumeration value = "century"/>
			<xsd:enumeration value = "recurringDate"/>
			<xsd:enumeration value = "recurringDay"/>
			<xsd:enumeration value = "float"/>
			<xsd:enumeration value = "double"/>
			<xsd:enumeration value = "long"/>
			<xsd:enumeration value = "int"/>
			<xsd:enumeration value = "short"/>
			<xsd:enumeration value = "byte"/>
			<xsd:enumeration value = "unsignedLong"/>
			<xsd:enumeration value = "unsginedInt"/>
			<xsd:enumeration value = "unsignedShort"/>
			<xsd:enumeration value = "unsignedByte"/>
			<xsd:enumeration value = "stringList"/>
			<xsd:enumeration value = "doubleList"/>
			<xsd:enumeration value = "longList"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attributeGroup name = "FileRestrictionAttributes">
		<xsd:attribute name = "attribute" type = "xsd:string"/>
		<xsd:attribute name = "restriction" type = "fileAttributeType"/>
		<xsd:attribute name = "valueType" type = "xsd:string"/>
		<xsd:attribute name = "value" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "RestrictionAttributes">
		<xsd:attribute name = "attribute" type = "xsd:string"/>
		<xsd:attribute name = "restriction" type = "restrictionType"/>
		<xsd:attribute name = "valueType" type = "xsd:string"/>
		<xsd:attribute name = "value" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "RuleAttributes">
		<xsd:attribute name = "attribute" type = "xsd:string"/>
		<xsd:attribute name = "ordering" type = "orderingType"/>
		<xsd:attribute name = "valueType" type = "SimplePropertyType"/>
		<xsd:attribute name = "value" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "FileRuleAttributes">
		<xsd:attribute name = "attribute" type = "fileAttributeType"/>
		<xsd:attribute name = "ordering" type = "orderingType"/>
		<xsd:attribute name = "valueType" type = "SimplePropertyType"/>
		<xsd:attribute name = "value" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:simpleType name = "restrictionType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = ">"/>
			<xsd:enumeration value = "&lt;"/>
			<xsd:enumeration value = ">="/>
			<xsd:enumeration value = "&lt;="/>
			<xsd:enumeration value = "!="/>
			<xsd:enumeration value = "=="/>
			<xsd:enumeration value = ">&lt;"/>
			<xsd:enumeration value = ">=&lt;"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "orderingType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "ascending"/>
			<xsd:enumeration value = "descending"/>
			<xsd:enumeration value = "specified"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "fileAttributeType">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "filename"/>
			<xsd:enumeration value = "filesize"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "RuleContent">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for an optimizer rule
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref = "Restrictions" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "RuleAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "FileRuleContent">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for an optimizer rule
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref = "Restrictions" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "FileRuleAttributes"/>
	</xsd:complexType>
	<xsd:element name = "Rule">
		<xsd:annotation>
			<xsd:documentation>
                    This is an abstract element.  Only its derivatives should be used.
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "RuleContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "RestrictionContent">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for an optimizer rule restriction
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref = "RestrictionAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "FileRestrictionContent">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for an optimizer rule file restriction
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref = "FileRestrictionAttributes"/>
	</xsd:complexType>
	<xsd:element name = "Restriction">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "RestrictionContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FileRestriction" substitutionGroup = "Restriction">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a file restriction
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "FileRestrictionContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Restrictions">
		<xsd:annotation>
			<xsd:documentation>
				Collection of Restriction elements (must have at least one).
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs = "unbounded">
				<xsd:element ref = "Restriction"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Rules">
		<xsd:annotation>
			<xsd:documentation>
				Collection of Rule elements (must have at least one).
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs = "unbounded">
				<xsd:element ref = "Rule"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FileRule" substitutionGroup = "Rule">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a file rule
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "FileRuleContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SectionRule" substitutionGroup = "Rule">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a file rule
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "RuleContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ResourceRule" substitutionGroup = "Rule">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a file rule
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "RuleContent"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DescriptorRule" substitutionGroup = "Rule">
		<xsd:annotation>
			<xsd:documentation>
				Specifies information for a file rule
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "RuleContent">
					<xsd:attribute name = "elementPath" type = "xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>